#footer-grande{
    background: rgb(234, 132, 137);
    margin-bottom: 0px;
}
 
#text-rodape{
    text-align: left;
}
#card-footer{
    background: rgb(72, 193, 234);
    height: 100%;
    text-align: center;
    font-size: 22px;
}
#icones{
    height: 1.6 rem;
    padding: 0 .2rem 0.2rem 2rem;
}
#rodape{
    background: rgb(240, 181, 211);;
    justify-content: center;
}