<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro</title>

	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/cadastro.css">
	<link rel="stylesheet" href="style/rodape.css">

</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid ">
			<a class="navbar-brand" href="/">
				<h1 class="m-0 texto-logo">
					<img class="logo" src="img/logo.png" alt="logotipo">
					Sabedoria+
				</h1>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2" aria-current="page" href="/">Início</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2" href="/sobreNos">Sobre Nós</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2" href="/planos">Planos</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav" href="/mentores">Mentores</a>
					</li>
					<li class="nav-item me-4">
						<!-- Use Thymeleaf para verificar se o usuário está autenticado -->
						<th:block th:if="${#authorization.expression('isAuthenticated()')}">
							<!-- Se autenticado, exibe o botão de logout -->
							<a class="nav-link botao-nav" href="/perfil"
								th:text="${#authentication.principal.nome}"></a>
						</th:block>
						<th:block th:unless="${#authorization.expression('isAuthenticated')}">
							<!-- Se não autenticado, exibe o botão de login -->
							<a class="nav-link botao-nav" href="/login">Login</a>
						</th:block>
					</li>

				</ul>

			</div>
		</div>
	</nav>
	<!-- fim navbar -->
	<hr>

	<main>
		<div class="titulo-1">
			<img src="./img/Learn and grow with (1).png" alt="">
		</div>
		<div class="card mb-3 container-1">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="./img/mulher.png" class="img-fluid rounded-start" alt="..." >
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Explore Oportunidades de Crescimento</h5>
						<p class="card-text">Como mentorado, você terá a oportunidade de ser guiado por profissionais
							experientes em sua área de
							interesse.
							Nossa comunidade está aqui para oferecer suporte, orientação e conselhos valiosos para
							ajudá-lo a
							atingir seus
							objetivos e maximizar seu potencial. Junte-se a nós para uma jornada de aprendizado mútuo e
							crescimento.</p>
						<div class="link">

							<a href="cadastrarMentorado"><button
									class="custom-btn btn-3"><span>CADASTRAR</span></button></a>

						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="alinhar-img">
			<img src="./img/Rectangle 55.png" alt="">
		</div>
		<div class="titulo-1">
			<img src="./img/Learn and grow with (2).png" alt="">
		</div>
		<div class="card mb-3 container-1">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="./img/idoso_cadastro.png" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Junte-se à Nossa Missão: Construir, Conectar, Capacitar</h5>
						<p class="card-text">

							Nosso compromisso vai além de oferecer mentorias. Estamos construindo uma comunidade onde a
							experiência encontra a inovação, onde a jornada encontra o impulso. Juntos, estamos
							transformando a narrativa do envelhecimento e da carreira, pavimentando o caminho para um
							futuro mais inclusivo, diversificado e próspero.</p>
						<div class="link">
							<a href="cadastrarMentor"><button
									class="custom-btn btn-3"><span>CADASTRAR</span></button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>

	<!-- Rodapé -->
	<div class="container-fluid" id="rodape">
		<div class=" mt-2">
			<div class="text-center p-3">
				© Desenvolvido pelo Squad 20 | Projeto fictício
				para Recode Pro 2023
			</div>
		</div>
	</div>

	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>
	<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	<script>
		new window.VLibras.Widget();
	</script>



	<script src="./script/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>