<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Conta - Sucesso</title>
    <link rel="stylesheet" href="style/sucesso.css">



</head>
<body>
    <div class="div-mensagem">
        <div class="mensagem-sucesso">
            Cadastro realizado com sucesso!
        </div>
        <p>
            Sua conta foi criada com êxito. Você pode <a class="redirect-link" href="/">voltar para tela inicial</a>.
        </p>
    </div>
    
</body>
</html>
