<!DOCTYPE html>
<html lang="pt-BR">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

</head>
 
<body>
    
    <div class="container">
    	<form action="/login" method="post">
            <h1>Sejam bem-vindos! 43</h1>
            <div class="logo-container">
                <img src="img/apple-touch-icon.png" alt="Logo">
            </div>
 
            <div class="input-box">
                <input type="text" class="form-control" id="email" name="username">
                <i class='bx bxs-user'></i>
            </div>
 
            <div class="input-box">
                <input type="password" class="form-control" id="senha" name="password">
                <i class='bx bxs-lock-alt'></i>
            </div>
 
            <div class="btn-checkbox">
                <label><input type="checkbox"> Lembre-me</label>
                <a href="#"> Esqueceu a senha?</a>
            </div>
            <button type="submit" class="btn-login">Entrar</button>
 
            <div class="register-link">
                <p>Você não tem conta? <a href="#"> Cadastra-se</a></p>
            </div>
            <div class="footer-message">
                <p class="card-text py-3" id="rodape-color">2023 <i class="bi bi-c-circle"></i> Desenvolvido pelo Squad 20 | Projeto fictício
                    para Recode Pro 2023.</p>
            </div>
        </form>
    </div>

</body>
 
</html>