<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
		integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="style/login.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<style>
		.botao-nav {
			border: 1px solid;
			border-radius: 25px;
			width: 150px;
			text-align: center;
			border-color: var(--vermelho);
			margin-top: 5px;
			font-weight: bold;
		}


		.botao-nav2 {
			width: 150px;
			text-align: center;
			margin-top: 5px;
			font-weight: bold;

		}
	</style>
</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid ">
			<a class="navbar-brand" href="/">
				<h1 class="m-0 texto-logo">
					<img class="logo" src="img/logo.png" alt="logotipo">
					Sabedoria+
				</h1>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2 cor-vermelho" aria-current="page" href="/">Início</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2 " href="/sobreNos">Sobre Nós</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2" href="/planos">Planos</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav" href="/mentores">Mentores</a>
					</li>
					<li class="nav-item me-4">
						<!-- Use Thymeleaf para verificar se o usuário está autenticado -->
						<th:block th:if="${#authorization.expression('isAuthenticated()')}">
							<!-- Se autenticado, exibe o botão de logout -->
							<a class="nav-link botao-nav cor-vermelho" href="/perfil"
								th:text="${#authentication.principal.nome}"></a>
						</th:block>
						<th:block th:unless="${#authorization.expression('isAuthenticated')}">
							<!-- Se não autenticado, exibe o botão de login -->
							<a class="nav-link botao-nav cor-vermelho" href="/login">Login</a>
						</th:block>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<!-- fim navbar -->
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-11 mt-60 mx-md-auto">
					<div class="login-box bg-white pl-lg-5 pl-0">
						<div class="row no-gutters align-items-center">
							<div class="col-md-6">
								<div class="form-wrap bg-white">
									<div class="logo-container">
										<img src="img/apple-touch-icon.png" alt="Logo">
									</div>
									<form action="/login" method="post">
										<div class="row">
											<div class="col-12">
												<div th:if="${param.error}" class="alert alert-danger" role="alert">
													Usuário ou senha inválidos.
												</div>
												<div class="form-group position-relative">
													<span class="zmdi zmdi-account"></span>
													<input type="text" id="email" name="username" class="form-control"
														placeholder="Email">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group position-relative">
													<span class="zmdi zmdi-email"></span>
													<input type="password" id="senha" name="password"
														class="form-control" placeholder="Senha">
												</div>
											</div>
											<div class="col-12 text-lg-right">
												<a href="#" class="c-black">Esqueceu a senha?</a>
											</div>
											<div class="col-12 mt-30">
												<button type="submit" id="submit"
													class="btn btn-lg btn-custom btn-dark btn-block">Entrar
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6">
								<div class="content text-center">
									<div class="border-bottom pb-5 mb-5">
										<h3 class="c-black">Primeira vez aqui?</h3>
										<a href="/cadastro" class="btn btn-outline-primary"><B>Cadastre-se</B></a>
									</div>
									<h5 class="c-black mb-4 mt-n1">Ou Faça Login com</h5>
									<div class="socials">
										<a href="#" class="zmdi zmdi-facebook"></a>
										<a href="#" class="zmdi zmdi-twitter"></a>
										<a href="#" class="zmdi zmdi-google"></a>
										<a href="#" class="zmdi zmdi-instagram"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="./script/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

</body>